{% extends '_base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<section class="about bg-light py-5">
    <div class="container">
        <h1 class="text-center">About Medical History Manager</h1>
        <p class="lead text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem autem cumque sed amet culpa officiis repellat placeat vero ad aliquid a soluta repellendus, 
        possimus neque quaerat, provident impedit. Cupiditate, aperiam!</p>
    </div>
</section>
{% endblock content %}